@import "compass";

$menuWidth: 180px;
#menu-nav {
  width: $menuWidth;
  border-right: 1px solid #f2f2f2;
  a {
    display: block;
    padding: 15px 0 15px 50px;
    font-size: 13px;
    border-right: 0;
    //border-top: 0;
    $menuActiveColor: #699BC2;
    &.active {
      background: $menuActiveColor;
      border: $menuActiveColor;
    }
  }
}

#app-container {

  header {
    padding: 5px 15px 5px 0;
    height: 50px;
    background-color: #337ab7;
    color: white;
    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.10));
    .logo, .logout {
      color: white;
    }
    .logo {
      text-decoration: blink;
      width: $menuWidth;
      font-size: 30px;
      text-align: center;
    }
  }
  section {
    .content {
      padding: 15px;
    }
  }
}

.panel, .modal-content, a, input, .btn, .dropdown-menu, .input-group-addon, textarea {
  border-radius: 0 !important;
}

.search-form {
  @include display-flex(flex);
  @include flex-wrap(wrap);
  margin-bottom: 15px;
  > div {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  label {
    margin-right: 15px;
  }
  input.basic {
    display: inline-block;
    width: initial;
  }
  .input-group.date {
    max-width: 200px;
  }
  .form-control {
    height: 36px;
  }
}

form .input-container {
  margin-right: 15px;
}

table {
  td, th {
    white-space: nowrap;
  }
}