@import "compass";

.select {
  display: inline-block;
  min-width: 160px;
  max-width: 200px;
  .dropdown {
    .dropdown-toggle span {
      overflow-x: hidden;

    }
    .input-group, .dropdown-menu-container {
      display: none;
    }
    &.open {
      .input-group {
        display: block;
        border: 0;
        input {
          border: 0;
          border-bottom: 1px solid #adadad;
          &:focus {
            @include box-shadow(none);
          }
        }
      }
      .dropdown-menu-container {
        display: block;
      }
      .dropdown-menu {
        @include box-shadow(none);
        position: static;
        margin-bottom: -5px;
        float: none;
        display: inline-block;
        max-height: 240px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        border: 0;
        min-width: initial;
        margin-top: 0;

      }
      .dropdown-toggle {
        border-bottom: 0;
      }
    }
    .dropdown-menu-container {
      position: absolute;
      border: 1px solid #adadad;
      top: 100%;
      left: 0;
      z-index: 1000;
      right: 0;
    }
  }
}